<div class="row">
    <div class="col-md-4">
        <form [formGroup]="productForm" (ngSubmit)="addnow()">
            <div class="form-group">
                <label for="" class="form-label">product id</label>
                <input type="text" name="" class="form-control" formControlName="productId" id="">
            </div>
            <div class="form-group">
                <label for="" class="form-label">product name</label>
                <input type="text" name="" class="form-control" formControlName="productName" id="">
            </div>
            <div class="form-group">
                <label for="" class="form-label">product descripition</label>
                <input type="text" name="" class="form-control" formControlName="productDescripition" id="">
            </div>
            <div class="form-group">
                <label for="" class="form-label">product price</label>
                <input type="text" name="" class="form-control" formControlName="productprice" id="">
            </div>
            <div class="form-group">
                <label for="" class="form-label">product image</label>
                <input type="text" name="" class="form-control" formControlName="productImage" id="">
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Add Product</button></div>
        </form>
    </div>
</div>
